* {
  font-family: 'Graphik';
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  src: local('Graphik'), local('Graphik-Regular-Web'), url(Sources/fonts/Graphik/Graphik-Regular-Web.woff) format('woff');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Graphik';
}


.imdi {
  /* background-image: url("Sources/icons&imgs/headerbg.jpg");
  background-size: cover;
  background-position: center; */

  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to top, #000 0, transparent 100%), linear-gradient(to bottom, rgba(0, 0, 0, .8) 0, transparent 100%), var(--landing-bg-image, url("https://cdn.curiositystream.com/webapp-v3/images/v8/landing-montage-may-2021.jpeg/300.jpg"));

}

/* .ovi {
position: a;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(3, 8, 20);
  background: linear-gradient(0deg, rgb(0, 0, 0) 26%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 4;
} */

.ovi2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(3, 8, 20);
  background: linear-gradient(180deg, rgba(3, 8, 20, 1) 0%, rgba(166, 163, 163, 0) 31%);
  z-index: 2;
}


#mbutt {
  height: 64px;
  width: 191px;
  background-image: linear-gradient(147deg, rgb(236, 195, 52), rgb(235, 139, 76));
}
#mbutt:hover{
  
  background-image: linear-gradient(147deg, rgb(235, 139, 76), rgb(236, 195, 52));
}
.dd4 {
  height: 128px;
  width: 288px;
}

.bac span {
  display: block;
  color: #c6853b;
}

.p1 {
  background: #b07a7a;
}


.bgimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100%;

}

.section2 {

  background-image: linear-gradient(to right bottom, rgb(37, 99, 235), rgb(102, 0, 204));

}


/* .head2{
  z-index: 4;
}
*/
.custom-button {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  border-radius: 50px !important;  /* Adjust this value to control the pill shape */
  padding: 10px 20px; /* Adjust the padding as needed */
  background: rgb(238, 168, 61) !important;
}

.db {
  display: block;
}

table{
  height: 80vh !important;
}

 th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
tbody tr :nth-child(1),thead tr :nth-child(1) {
  background: #1D1D1D;
  color: white;
}


tbody tr :nth-child(3),thead tr :nth-child(3){
  /* background: rgb(53, 53, 53); */
  background-image: linear-gradient(to right, rgb(37, 99, 235), rgb(102, 0, 204));
  color: white;
}

tbody tr :nth-child(2),thead tr :nth-child(2){
  /* background: rgb(53, 53, 53); */
  background-color: rgb(53, 53, 53);
  color: white;
}
tbody tr,thead tr {
  border-bottom: solid gray 1px;
}
.circle {
  background-image: linear-gradient(147.14deg, #ecc334 6.95%, #eb8b4c 93.05%);
  /* width: 40px;
  height: 40px;
  border-radius: 50px;
  text-size-adjust: 100% */
}
.fixpill{

background: #eea83d ;
height: 47.52px;
width: 47.52px;
border-radius: 50%;
border-width: 0;
margin-left: 70rem;
}

#carr {
  background: #1D1D1D;
  border:solid 1px #eb8b4c;
  color: white;
  justify-self: center;
  align-items: center;
}
#carr:hover{

  border:solid 2.5px #eb8b4c;
  
} 
.smart:hover{
background: linear-gradient(147deg, rgb(236, 195, 52), rgb(235, 139, 76));
border: 2px solid;

}

.custom-card-container button{
  margin-top: 10rem;
}
.checkk img{
  background: none !important;
}
.card-body{
  margin-top: 2rem;
}
.card-body h5{
  margin-top: 2rem;
}
.card-body p{
  margin-top: 2rem;
  
}
.card-body button{
  margin-top: 5rem;
}


.d1 {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(2, 23rem);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  column-gap: 25px;
  padding: 1rem;
  grid-template-rows: 18rem 18rem;
  justify-content: center;
  
}
.d11,.d12,.d13,.d14 :hover{


}
.d11,.d12{
  background: rgb(29, 29, 29);
  
}
.d13,.d14{
  background-image: linear-gradient(to right bottom, rgb(59, 130, 246), rgb(83, 59, 226));
}

.d11:hover,.d12:hover,.d13:hover {
  border:solid 4px #353535;
  
}

.d14{
  border:solid 4px rgb(235, 139, 76) ;

}
.bst{
  background:  rgb(235, 139, 76);
  margin-top: 0;
  
}
.bvalue{
  margin-top: 0;
}

.bvalue button{
  margin-top: 2rem;
}

input{
  background-color: rgb(29, 29, 29);
}





/* ################################################################################## */
@media (max-width: 700px) {
 .midhid{
  display: none;
 }
.cdiv {
display: none !important;
  
}
}
@media (min-width: 700px) {
  .smvis{
   display: none;
  }
 }

.navbtn:hover{
  background: linear-gradient(147deg, rgb(236, 195, 52), rgb(235, 139, 76));;
}